[submodule "mods/minekart"]
	path = mods/minekart
	url = https://github.com/APercy/minekart.git
[submodule "mods/mobkit"]
	path = mods/mobkit
	url = https://github.com/TheTermos/mobkit.git
[submodule "mods/trackelements"]
	path = mods/trackelements
	url = https://github.com/APercy/trackelements.git
[submodule "mods/minetest-formspec_ast"]
	path = mods/minetest-formspec_ast
	url = https://gitlab.com/luk3yx/minetest-formspec_ast.git
[submodule "mods/kuto"]
	path = mods/kuto
	url = https://github.com/TerraQuest-Studios/kuto.git
